$dropdown_gray: rgb(119, 136, 153);
$dropdown_list_color: #fff;
$dropdown_background_color: rgba(119, 136, 153, 0.073);

.dropdown {
	position: relative;
	display: inline-block;
	width: 200px;
}

.dropdown-toggle {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding: 15px;
	border-bottom: 2px solid #d8d6d6;
	margin-right: 10px;
	font-weight: 900;
	color: $dropdown_gray;
	background-color: $dropdown_background_color;
}
.dropdown-list {
	position: absolute;
	background-color: $dropdown_list_color;
	border: 1px solid #ccc;
	padding: 10px;
	z-index: 2;
	overflow: auto;
	height: 300px;
	width: 180px;
	visibility: hidden;
	opacity: 0;
}
.dropdown-list {
	position: absolute;
	background-color: $dropdown_list_color;
	border: 1px solid #ccc;
	padding: 10px;
	z-index: 2;
	overflow: auto;
	height: 300px;
	width: 180px;
	visibility: hidden;
	opacity: 0;
}
.dropdown.open {
	.dropdown-list {
		visibility: visible;
		opacity: 1;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		cursor: pointer;
		label {
			display: block;
			visibility: visible;
			margin-bottom: 15px;
			cursor: pointer;
			border-bottom: 1px solid #ccc;
		}
	}
}
.dropdown input[type=checkbox] {
	cursor: pointer;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}