.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	border: 0.01px solid rgb(217, 213, 213);
	padding: 15px;
	max-width: fit-content;
	position: relative;
}

.results-text {
	position: absolute;
	padding-left: 15px;
	z-index: 1;
	top: 0;
	color:gray;
	font-size: 14px;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 0 33%;
	margin-top: 30px;
	max-width: 300px;
	line-height: 1.5;
}

.image {
	max-width: 300px;
	height: 400px;
}

.title-text {
	font-weight: bold;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 0;
}

.genres {
	margin-top: 5px;
	font-size: 14px;
	margin-bottom: 30px;
}

@media (max-width: 440px) {
	.image {
		width: 100%;
	}
	.grid-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 75vw;
	}
}
@media (min-width: 441px) and (max-width: 767px) {
	.content-container {
		align-items: center;
		flex: none;
		width: 300px;
	}
	.image {
		width: 100%;
	}
	.grid-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 100vw;
	}
	
}
@media (min-width: 768px) and (max-width: 1023px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
}